{% extends 'tiendaApp/base.html' %}
{% load static %}
{% block title %}Agregar producto{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="mb-5">
            <h1>Agregar Producto</h1>
        </div>
        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Volver</a>
            <button type="submit" class="btn btn-dark mt-3">Guardar</button> 
        </form>
    </div>

{% endblock %}