{% extends 'tiendaApp/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="text-center">Inicio de Sesión</h4>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="id_username" class="form-label">Nombre de Usuario:</label>
                <input type="text" name="username" id="id_username" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="id_password" class="form-label">Contraseña:</label>
                <input type="password" name="password" id="id_password" class="form-control" required>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="remember_me">
                <label class="form-check-label" for="remember_me">Recordarme</label>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Iniciar Sesión</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}